ollama>=0.2.1
langchain_community
duckduckgo-search
langchain-ollama
langgraph
IPython
autogen
ag2[openai]
crewai
datasets
autogen_ext
autogen-agentchat
chromadb
sentence-transformers
fastembed
ddg-search
numexpr
requests
openai
